* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    
}
.intt {
    background:
    linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url("img/backIntro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
}


button {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.4) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 45%;
  left: 42%;
  display: inline-block;
  /*margin-left: 20px;*/

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.intro {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: #161616;
    transition: 1s;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

.logo-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 2s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 2s;
}
